<section class="hero-cabecera">
  <div class="hero-img"></div>
  <div class="hero-overlay"></div>

  <div class="hero-texto">
    <h1>Clinica Santa Ana</h1>
    <p>Salud, confianza y profesionales preparados para vos.</p>
  </div>
</section>


<section class="info">
  <h2>Sobre la Clinica</h2>
  <p>
    La Clinica Santa Ana, especialista en salud, cuenta actualmente con 6 consultorios,
    dos laboratorios fisicos y una sala de espera general. Esta abierta al publico
    de lunes a viernes de <strong>8:00 a 19:00</strong> y sabados de <strong>8:00 a 14:00</strong>.
  </p>
  <p>
    Aqui trabajan profesionales de diversas especialidades, recibiendo pacientes con turno
    por consulta o tratamiento. Los turnos se solicitan desde la web seleccionando al
    profesional o su especialidad.
  </p>
  <p>
    la duracion minima de un turno es de 30 minutos, aunque puede variar segun la especialidad.
    Algunos profesionales cuentan con mas de una especialidad. Ademas, contamos con un sector
    administrativo encargado de la organizacion de la clinica.
  </p>
</section>

<section class="destacados">
  <div class="card">
    <img src="hospital-svgrepo-com.svg" alt="">
    <h3>Turnos Online</h3>
    <p>Pedi tu turno de forma rapida y sencilla.</p>
  </div>

  <div class="card">
    <img src="doctor-human-svgrepo-com.svg" alt="">
    <h3>Profesionales</h3>
    <p>Especialistas en distintas areas de la salud.</p>
  </div>

  <div class="card">
    <img src="human-social-security-svgrepo-com.svg" alt="">
    <h3>Atencion Humana</h3>
    <p>Nos enfocamos en brindarte una experiencia calida.</p>
  </div>
</section>
