.hero-cabecera {
  position: relative;
  width: 100%;
  height: 400px; /* ajustable, no pantalla completa */
  overflow: hidden;
  border-bottom: 3px solid #e1e1e1;
  border-radius: 20px;
}

.hero-img {
  position: absolute;
  inset: 0;
  background-image: url("https://images.pexels.com/photos/6129501/pexels-photo-6129501.jpeg");
  background-size: cover;
  background-position: center;
  filter: grayscale(30%);
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* sombreado */
}

.hero-texto {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.hero-texto h1 {
  font-size: 2.2rem;
  margin-bottom: 8px;
}

.hero-texto p {
  font-size: 1.1rem;
  margin-bottom: 18px;
  opacity: 0.95;
}

/* Botones */
.acciones {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 9px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primario {
  background: #0077ff;
  color: white;
}

.btn {
  background: #ffffffd2;
  color: #000;
}

.btn:hover {
  opacity: 0.8;
}


/* Info */
.info {
  padding: 40px 5%;
  text-align: center;
}

.info p {
  max-width: 800px;
  margin: 12px auto;
  line-height: 1.6;
}

/* Destacados */
.destacados {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 5%;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 240px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 70px;
  margin-bottom: 10px;
}
